<a href="https://colab.research.google.com/github/Icoderchintu/LP/blob/Icoderchintu-patch-1/Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# prompt: Print a 2 rows and 5 columns with the heading name,date of birth,Gender, Qualification and Address using html in python  and  take the input from user for each row except heading showing user what they have to fill in each column of respective row and add bg colour and border color too

from IPython.display import HTML, display

def create_table():
  html = """
  <style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  </style>
  <table>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Qualification</th>
      <th>Address</th>
    </tr>
  """

  for i in range(2):
    name = input("Enter name for row {}: ".format(i+1))
    dob = input("Enter date of birth for row {}: ".format(i+1))
    gender = input("Enter gender for row {}: ".format(i+1))
    qualification = input("Enter qualification for row {}: ".format(i+1))
    address = input("Enter address for row {}: ".format(i+1))

    html += "<tr><td>{}</td><td>{}</td><td>{}</td><td>{}</td><td>{}</td></tr>".format(name, dob, gender, qualification, address)

  html += "</table>"
  display(HTML(html))

create_table()

Enter name for row 1: A
Enter date of birth for row 1: 22-06-2006
Enter gender for row 1: Male
Enter qualification for row 1: Int
Enter address for row 1: Delhi
Enter name for row 2: B
Enter date of birth for row 2: 11+08-9860
Enter gender for row 2: Male
Enter qualification for row 2: Mat
Enter address for row 2: Patna